/* =================================
            Body
==================================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background:#f4f4f4;
    color:#222;
    animation: aparecerPantalla 0.8s ease-out forwards; /*ANIMACIONDE LOGIN A MAIN*/
}

/*body.large-text{
    font-size: 1.2rem;
}

body.large-text h1{
    font-size: 4rem;
}

body.large-text h2{
    font-size: 2.8rem;
}

body.large-text p,
body.large-text a,
body.large-text button{
    font-size: 1.2rem;
} */

body.large{
    /*font-size: 140%;*/
    zoom: 1.2;
}

body.xlarge{
    /*font-size: 160%;*/
    zoom: 1.4;
}

body.normal{
    font-size:100%;
}

a{
    text-decoration:none;
    color:inherit;
}

/* =================================
            accesibilidad
==================================== */

.accessPanel{
    position:fixed;

    top:85px;
    right:20px;

    width:320px;

    background:#fff;

    border:none;
    border-radius:18px;

    padding:22px;

    box-shadow:
        0 8px 30px rgba(0,0,0,.15);

    display:none;

    z-index:9999;
}

/* Flechita que va encima del panel */
/*.accessPanel::before{
    content:"";

    position:absolute;

    top:-8px;
    right:30px;

    width:16px;
    height:16px;

    background:white;

    transform:rotate(45deg);
}*/

.accessPanel.show{
    display:block;
}

.accessPanel h3{
    font-size:1.4rem;
    font-weight:700;

    margin-bottom:20px;

    color:#222;
}

.accItem{
    display:flex;
    flex-direction:column;

    gap:10px;
}

.accItem label{
    display:block;

    margin-bottom:8px;

    font-size:.95rem;
    font-weight:600;

    color:#555;
}

.accItem select{
    width:100%;

    padding:12px 14px;

    border:1px solid #ddd;

    border-radius:12px;

    background:#fafafa;

    font-size:1rem;

    transition:.2s;
}

.accItem select:hover{
    border-color:#e10098;
}

.accItem select:focus{
    outline:none;

    border-color:#e10098;

    background:white;

    box-shadow:
        0 0 0 4px rgba(225,0,152,.12);
}

/* ==========================
   HEADER
========================== */

.site-header{
    background:#e10098;
    color:white;
    position:sticky;
    top:0;
    z-index:100;
}

.header-main{
    max-width:1400px;
    margin:auto;
    display:flex;
    align-items:center;
    gap:20px;
    padding:15px 25px;
}

.mobile-menu-toggle{
    background:none;
    border:none;
    color:white;
    font-size:28px;
    cursor:pointer;
}

.site-logo img{
    height:45px;
}

.search-form{
    flex:1;
    max-width:900px;
    position:relative;
}

.search-form input{
    width:100%;
    height:52px;

    border:none;
    outline:none;

    border-radius:999px;

    padding-left:25px;
    padding-right:60px;

    font-size:18px;

    background:white;
}

.search-form button{
    position:absolute;
    right:8px;
    top:50%;

    transform:translateY(-50%);

    width:42px;
    height:42px;

    border:none;
    background:transparent;

    cursor:pointer;
    font-size:22px;
}


.header-main a{
    text-decoration:none;
    color:white;
    font-size:28px;
}

.primary-nav{
    background:#cc007f;
}

.primary-nav ul{
    list-style:none;
    display:flex;
    justify-content:center;
    gap:30px;
    padding:12px;
    flex-wrap:wrap;
}

.primary-nav a{
    color:white;
    text-decoration:none;
    font-size:14px;
}

.primary-nav a:hover{
    opacity:.8;
}

.header-icons a,
.header-icons button{
    background:none;
    border:none;

    color:white;

    text-decoration:none;

    font-size:28px;

    cursor:pointer;
}